In [1]:
print("Hello World")

Hello World

In [2]:
print("Hello Shrish")

Hello Shrish

In [3]:
print("IloveYou123456")

IloveYou123456

In [4]:
print("Deepikaji")

Deepikaji

In [5]:
print("why betraying me?")

why betraying me?

In [6]:
name = "shrish"
age = 21
print(name)
print(age)

shrish
21

In [7]:
name = "Deepika"
age = 22
print(name)
print(age)

Deepika
22

In [8]:
input("who is shrish's girlfriend?")

who is shrish's girlfriend?deepika

'deepika'

In [9]:
gf_name = input("who is shrish's girlfriend?")
print(gf_name)

who is shrish's girlfriend?deepika
deepika

In [10]:
name = input("enter the name of shrish favourite hero in bollywood?")
print("the favourite hero according to shrish is "+name)

enter the name of shrish favourite hero in bollywood?shah rukh khan
the favourite hero according to shrish is shah rukh khan

In [11]:
# cia_1 = input("enter the marks of cia_1 of shrish?")
# cia_2 = cia_1+20 #because cia_2 is assignment so everyone get 20 marks now just add both cia's marks for the total of cia put of 40
# print(cia_2)        





#this is giving error because in cia_1 we are storing string values not integer values so fot storing integer value as a input we use typeconversion

In [12]:
cia_1 = int(input("enter the marks of cia_1 of shrish?"))
cia_2 = cia_1+20 #because cia_2 is assignment so everyone get 20 marks now just add both cia's marks for the total of cia put of 40
print(cia_2)    


#here we are using int keyword before taking a input so that the input which will we get is now in the input form

enter the marks of cia_1 of shrish?13
33

# STRINGS

In [13]:
name = "shrish sonal"
name.upper()

'SHRISH SONAL'

In [14]:
name.lower()

'shrish sonal'

In [15]:
name.find("sonal")

7

In [16]:
name.replace("shrish","hey")

'hey sonal'

In [17]:
print("sonal" in name)

True

In [18]:
print("deep" in  name)

False

In [19]:
print("hey" in name)

False

# ARITHMETIC OPERATIONS

In [20]:
print(5+2)

7

In [21]:
print(5-2)

3

In [22]:
print(5*2)

10

In [23]:
print(5**2) #Square

25

In [24]:
 print(5/2)

2.5

In [25]:
print(5//2) #in integer form

2

# COMPARISION OPERATIONS

In [26]:
print(2>3)

False

In [27]:
print(3>2)

True

In [28]:
print(3<=2)

False

In [29]:
print(2<=3)

True

In [30]:
print(3==3)

True

In [31]:
print(2==3)

False

In [32]:
print(3!=2)

True

In [33]:
print(2!=2)

False

In [34]:
#this is a comment

# LOGICAL OPERATOR

In [35]:
#OR OPERATOR
print(2>3 or 3>2)

True

In [36]:
print(3<2 or 4>5)

False

In [37]:
print(3>2 or 2>1)

True

In [38]:
#and operator
print(3>2 and 4<3)

False

In [39]:
print(3>4 and 4>5)

False

In [40]:
print(3>2 and 4>3)

True

In [41]:
#not operator
print(not 3>2)

False

# CONDITIONAL STATEMENTS(IF-ELSE)

In [42]:
age = int(input("enter your age"))
if age>=18:
    print("vote kar sake bhai tu")
elif age<18 and age>=3:
    print("baalak h ke")
else:print("abe dudh pee or soja")

enter your age19
vote kar sake bhai tu

In [44]:
print("*************This is calculator made by SHRISH SOMAWAT***************")
print("you have some options here please enter the serial number among these:")
print("1.Addition")
print("2.Subtraction")
print("3.Multiplication")
print("4.Divide")
print("5.Remainder")
print("6.Power")
choice = int(input("please enter the choice (1-6)"))
if choice == 1:
    num1 = int(input("enter number 1 "))
    num2 = int(input("enter number 2 "))
    sum = num1+num2
    print("the addition of the number is: ",sum)
elif choice == 2:
    num1 = int(input("enter number 1 "))
    num2 = int(input("enter number 2 "))
    sub = num1-num2
    print("the subtraction of the number is: ",sub)
elif choice == 3:
    num1 = int(input("enter number 1 "))
    num2 = int(input("enter number 2 "))
    mul = num1*num2
    print("the Multiplication of the number is: ",mul)
elif choice == 4:
    num1 = int(input("enter number 1 "))
    num2 = int(input("enter number 2 "))
    div = num1/num2
    print("the division of the number is: ",div)
elif choice == 5:
    num1 = int(input("enter number 1 "))
    num2 = int(input("enter number 2 "))
    rem = num1%num2
    print("the remainder of the number is: ",rem)
elif choice == 6:
    num1 = int(input("enter number 1 "))
    num2 = int(input("enter number 2 "))
    pow = num1**num2
    print("the result is: ",pow)
else:
    print("please enter the right choice and we will provide our best output")

*************This is calculator made by SHRISH SOMAWAT***************
you have some options here please enter the serial number among these:
1.Addition
2.Subtraction
3.Multiplication
4.Divide
5.Remainder
6.Power
please enter the choice (1-6)9
please enter the right choice and we will provide our best output

# LOOPS
##WHILE LOOPS

In [48]:
i = 2
while i<=10:
    print(i)
    i+=2

2
4
6
8
10

##for loops

In [55]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

# list

In [59]:
marks = [34,12,45,49,24,"hey","shrish","here"]  #this is list
print(marks)

[34, 12, 45, 49, 24, 'hey', 'shrish', 'here']

In [60]:
print(marks[4])

24

In [61]:
print(marks[-3])

hey

In [62]:
print(marks[0])

34

In [63]:
print(marks[2:7])

[45, 49, 24, 'hey', 'shrish']

In [64]:
for score in marks:
    print(score)

34
12
45
49
24
hey
shrish
here

In [71]:
marks.append(6)
marks

[34, 12, 45, 49, 24, 'hey', 'shrish', 'here', 22, 22, 22, 22, 122, 6]

In [73]:
marks.insert(0,0)
marks

[0, 0, 34, 12, 45, 49, 24, 'hey', 'shrish', 'here', 22, 22, 22, 22, 122, 6]

In [74]:
print(0 in marks)

True

In [75]:
print(1 in marks)

False

In [77]:
print(len(marks))

16

# break and continue statements

In [79]:
persons = ["shrish","sonal","hem","shiva","gona","shalu"]
for person in persons:
    if person == "shiva":
        break
    print(person)

shrish
sonal
hem

In [80]:
persons = ["shrish","sonal","hem","shiva","gona","shalu"]
for person in persons:
    if person == "hem":
        continue
    print(person)

shrish
sonal
shiva
gona
shalu

# Tuple

In [81]:
persons = ("shrish","shiva","shiva","shiva","gona","shalu") #we cant modify this is immutable
persons.count("shiva")

3

In [82]:
persons.index("shalu")

5

# Set

In [83]:
persons = {"shrish","shiva","shiva","shiva","gona","shalu"}
#we cant find person name with index because indexing is not allowed in set and it will not show multiple present item repeatedly
print(persons)

{'shalu', 'shiva', 'shrish', 'gona'}

# Dictionary

In [84]:
#pairs
percentage = {"shrish":99,"shiva":78,"shalu":100,"sonal":89,"hem":99}
print(percentage["shalu"])

100

In [85]:
percentage["ut"] = 76
print(percentage)

{'shrish': 99, 'shiva': 78, 'shalu': 100, 'sonal': 89, 'hem': 99, 'ut': 76}

# Functions

In [86]:
# 1.inbuilt
# 2.userdefined
# 3.module

In [89]:
from math import sqrt
print(sqrt(4))

2.0

In [93]:
def printSum(num1,num2,num3):
    print(num1+num2+num3)
printSum(3,8,99)

110